<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Mental Health Analysis</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Mental Health Analysis</h1>
        <button id="diagnosis-btn" onclick="redirectToHome()">Get Diagnosis</button>
        <button id="assistant-btn" onclick="redirectToAssistant()">Chat With Assistant</button>
    </div>
    <script>
        function redirectToHome() {
            window.location.href = "/home";
        }

        function redirectToAssistant() {
            window.location.href = "/assistant.html";
        }
    </script>
</body>
</html>
